<!DOCTYPE html>
<html>
    <head>
        <title>About us</title>
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="static/navbar.css">
    <link rel="stylesheet" href="static/about.css">
    <script src="static/navbar.js"></script>
    </head>
    <body>
        <div class="navbar">
            <div class="Prognostica">Adeptus Prognostica</div>
            <div class="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <nav class="nav-bar">
                <ul>
                    <li>
                        <a href="index.html" class="active">Home</a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="Funkcja1">Funkcja 1</a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=WdlIKy2lJ_g" class="Funkcja2">Funkcja 2</a>
                    </li>
                    <li>
                        <a href="about.html" class="About">O nas</a>
                    </li>
                    <li>
                        <a href="test_login.html" class="Login">Login</a>
                    </li>
                    <li>
                            <div id="flag1" class="flag-item" >
                              <img src="PL_flag.svg.png" alt="Flag 1">
                            </div>
                            <div id="flag2" class="flag-item" >
                                <img src="UK_flag.png" alt="Flag 2">
                              </div>
                              <div id="flag3" class="flag-item" >
                                <img src="SPQR_flag.png" alt="Flag 3">
                              </div>
                    </li>
                </ul>
            </nav>
        </div>
        <section class="hero">
            <div class="heading">
                <h1>O nas</h1>
            </div>
            <div class="container">
                <div class="hero-content">
                    <h2>Witamy na naszej stronie</h2>
                    <p>Projekt magisterski jakiego jeszcze żodyn na oczy nie widzioł 
                        test testtest 
                        test
                        test testtest testtest testtest test
                        test testtest testtest testtest testtest testtest test
                        test testtest testtest testtest testtest test</p>
                </div>
                <div class="hero-image">
                    <img src="images/zdj4.jpg" >
                </div>
            </div>
        </section>
        <script src="/usr/share/javascript/jquery/jquery.min.js"></script>
<audio id="background-music" loop>
    <source src="divinitus.mp3" type="audio/mpeg">
  </audio>
    </body>
</html>