<!DOCTYPE html>
<html>
<head>
    <title>Matthis pretium forecasting</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/style_func1.css">
    <link rel="stylesheet" href="static/navbar.css">
    <link rel="stylesheet" href="static/bottombar.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="static/script_function1.js"></script>
    
</head>
<body>
  <div class="navbar">
    <div class="Prognostica">Adeptus Prognostica</div>
    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <nav class="nav-bar">
        <ul>
            <li>
                <a href="{{ url_for('Home') }}" class="active">Home</a>
            </li>
            <li>
                <a href="{{ url_for('function1') }}">Funkcja 1</a>
            </li>
            <li>
                <a href="https://www.youtube.com/watch?v=WdlIKy2lJ_g" class="Funkcja2">Funkcja 2</a>
            </li>
            <li>
              <a href="{{ url_for('About') }}" class="About">O nas</a>
          </li>
            <li>
                <a href="{{ url_for('Login') }}" class="Login">Login</a>
            </li>
            <li>
                    <div id="flag1" class="flag-item" >
                      <img src="static/PL_flag.svg.png" alt="Flag 1">
                    </div>
                    <div id="flag2" class="flag-item" >
                        <img src="static/UK_flag.png" alt="Flag 2">
                      </div>
                      <div id="flag3" class="flag-item" >
                        <img src="static/SPQR_flag.png" alt="Flag 3">
                      </div>
            </li>
        </ul>
    </nav>
</div>
    
    <section>
        <div class="title" id="functionTitle">Estymowanie cen auta</div>
        
    </section>
    <section>
        <div class="Prognozowanie-obszar">
          <form id="priceForm">
            <div class="form-row-left">
            <label for="Mark">Marka:</label>
            <input type="text" id="Mark" name="Mark" required><br>
        </div>
        <div class="form-row-left">
            <label for="Model">Model:</label>
            <input type="number" id="Model" name="Model" step="0.01" required><br>
        </div>
        <div class="form-row-left">
            <label for="Year">Rok:</label>
            <input type="number" id="Year" name="Year" required><br>
        </div>
        <div class="form-row-left">
            <label for="Vol_engine">Poj. silnika:</label>
            <input type="number" id="Vol_engine" name="Vol_engine" step="0.01" required><br>
        </div>
        <div class="form-row-left">
            <label for="Fuel">Paliwo:</label>
            <div class="dropdown">
                <button class="dropbtn" id="fuelDropdownButton">Wybierz paliwo</button>
                <div class="dropdown-content" id="fuelDropdown">
                    <a href="#">Benzyna</a>
                    <a href="#">Diesel</a>
                </div>
            </div>
        </div>
        <button type="submit">Szacuj cenę</button>
        </form>
    
        <div id="result">
          <h2>Szacowana cena:</h2>
          <p id="estimatedPrice"></p>
      </div>
  
          </div>
        <img id="zdjecie-prawo" src="static/Palac.jpg" alt="Zdjęcie-prawo" class="palac-image" >
    </section>
    <footer>
        <div class="Pasek_dolny">
            <div class="Pasek_dolny_lewy">
                <span class="Wersja_programu">Wersja programu: Beta 0.98.3</span>
            </div>
            <div class="Pasek_dolny_prawy">
                <span class="Autorzy">Autorzy: Jakub Kołodziej i Piotr Wieczorek</span>
            </div>
        </div>
    </footer>
    <script src="/usr/share/javascript/jquery/jquery.min.js"></script>
    <audio id="background-music" loop>
      <source src="static/divinitus.mp3" type="audio/mpeg">
    </audio>

</body>
</html>
